---
default_language_version:
    python: python3.13
# pyright requires internet connection to run, which the pre-commit ci app doesn't have.
# it instead runs in a github action
# check-release-changelog is run as a dedicated job
ci:
    skip: [pyright, check-release-changelog]

repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.9.9
      hooks:
          - id: ruff
            args: [--fix]

    - repo: https://github.com/psf/black
      rev: 25.1.0
      hooks:
          - id: black
            args: [--preview]

    - repo: https://github.com/PyCQA/autoflake
      rev: v2.3.1
      hooks:
          - id: autoflake

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.19.1
      hooks:
          - id: pyupgrade
            args: [--py39-plus]
            exclude: tests/eval_files/async103.py

    - repo: https://github.com/pycqa/isort
      rev: 6.0.1
      hooks:
          - id: isort

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.15.0
      hooks:
          - id: mypy
            # uses py311 syntax, mypy configured for py39
            exclude: tests/eval_files/.*_py311.py

    - repo: https://github.com/RobertCraigie/pyright-python
      rev: v1.1.396
      hooks:
          - id: pyright
            # ignore warnings about new version being available, no other warnings
            # are suppressed by this.
            entry: env PYRIGHT_PYTHON_IGNORE_WARNING=true pyright
            # exit with non-zero on warnings
            args: [--warnings]
            # Required for pyright strict mode
            # Mirrors content of requirements-typing.txt, as pre-commit does not allow
            # reading from that for caching reasons.
            additional_dependencies:
                - anyio
                - flake8
                - GitPython
                - hypothesis
                - hypothesmith
                - pytest
                - trio

    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            additional_dependencies:
                - tomli

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-merge-conflict
          - id: check-toml
          - id: check-yaml
          - id: debug-statements
            language_version: python3
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: trailing-whitespace
            args: ['--markdown-linebreak-ext=md,markdown']

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt

    - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
      rev: v2.14.0
      hooks:
          - id: pretty-format-toml
            args: [--autofix]

    - repo: https://github.com/sphinx-contrib/sphinx-lint
      rev: v1.0.0
      hooks:
          - id: sphinx-lint

    - repo: local
      hooks:
          - id: check-release-changelog
            name: check-release-changelog
            language: system
            entry: python3 tests/check_changelog_and_version.py --allow-future-in-changelog
            files: flake8_async/__init__.py|docs/changelog.rst

    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
