---
name: flake8-async CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    # pyright can't run in pre-commit CI as it requires an internet connection
    # so we instead run it directly as a GitHub action
    pyright:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  cache: pip
            - name: Install typing dependencies
              run: pip install -r requirements-typing.txt
            - uses: jakebailey/pyright-action@v2
              with:
                # Use exit code of 1 if warnings are reported.
                  warnings: true


    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
            fail-fast: false
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-version }}
                  allow-prereleases: true
            - name: Install dependencies
              run: python -m pip install --upgrade pip setuptools tox
            - name: Run tests with flake8
              run: python -m tox -e flake8
            - name: Run tests without flake8
              run: python -m tox -e "" -- --no-cov

    slow_tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python 3.14
              uses: actions/setup-python@v6
              with:
                  python-version: 3.14
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip setuptools tox
                  python -m tox --notest --recreate -e flake8
            - name: Run tests
              run: python -m tox -e flake8 -- --onlyfuzz --no-cov -n auto

    release:
        runs-on: ubuntu-latest
        needs: [pyright, test]
        if: github.repository == 'python-trio/flake8-async' && github.ref == 'refs/heads/main'
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python
              uses: actions/setup-python@v6
            - name: Install tools
              run: python -m pip install --upgrade build pip setuptools wheel twine gitpython
            - name: Upload new release
              env:
                  TWINE_USERNAME: __token__
                  TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
              run: |
                  python tests/check_changelog_and_version.py --ensure-tag
                  python -m build && twine upload --skip-existing dist/*
